@{
    ViewData["Title"] = "Level 1";
}

<div class="well">
    <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
    <ol>
        <li>...all womens' leagues</li>
        <li>...all leagues where sport is any type of hockey</li>
        <li>...all leagues where sport is something OTHER THAN football</li>
        <li>...all leagues that call themselves "conferences"</li>
        <li>...all leagues in the Atlantic region</li>
        <li>...all teams based in Dallas</li>
        <li>...all teams named the Raptors</li>
        <li>...all teams whose location includes "City"</li>
        <li>...all teams whose names begin with "T"</li>
        <li>...all teams, ordered alphabetically by location</li>
        <li>...all teams, ordered by team name in reverse alphabetical order</li>
        <li>...every player with last name "Cooper"</li>
        <li>...every player with first name "Joshua"</li>
        <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
        <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
    </ol>
</div>

<div>
    <h2>Your tables go here</h2>
</div>

<div>
    <h3>1) All Womens' Leagues</h3>
    <table class="table table-striped">
        <thead>
            <th>League</th>
        </thead>
        <tbody>
        @foreach(var league in ViewBag.AllWomenLeagues)
        {
            <tr>
                <td>@league.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>2) All Leagues Where the Sport is any Type of Hockey</h3>
    <table class="table table-striped">
        <thead>
            <th>League</th>
        </thead>
        <tbody>
        @foreach(var league in ViewBag.HockeyLeagues)
        {
            <tr>
                <td>@league.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>3) All Leagues Where the Sport is Something OTHER THAN Football</h3>
    <table class="table table-striped">
        <thead>
            <th>League</th>
        </thead>
        <tbody>
        @foreach(var league in ViewBag.NotFootball)
        {
            <tr>
                <td>@league.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>4) All Leagues That Call Themselves Conferences</h3>
    <table class="table table-striped">
        <thead>
            <th>League</th>
        </thead>
        <tbody>
        @foreach(var league in ViewBag.Conferences)
        {
            <tr>
                <td>@league.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>5) All Leagues in the Atlantic Region</h3>
    <table class="table table-striped">
        <thead>
            <th>League</th>
        </thead>
        <tbody>
        @foreach(var league in ViewBag.Atlantic)
        {
            <tr>
                <td>@league.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>6) All Teams Based in Dallas</h3>
    <table class="table table-striped">
        <thead>
            <th>Team Name</th>
        </thead>
        <tbody>
        @foreach(var team in ViewBag.Dallas)
        {
            <tr>
                <td>@team.TeamName</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>7) All Teams Named the Raptors</h3>
    <table class="table table-striped">
        <thead>
            <th>Team Name</th>
            <th>Location</th>
        </thead>
        <tbody>
        @foreach(var team in ViewBag.Raptors)
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.Location</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>8) All Teams Whose Location Includes City</h3>
    <table class="table table-striped">
        <thead>
            <th>Team Name</th>
            <th>Location</th>
        </thead>
        <tbody>
        @foreach(var team in ViewBag.City)
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.Location</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>9) All Teams Whose Names Begin With T</h3>
    <table class="table table-striped">
        <thead>
            <th>Team Name</th>
            <th>Location</th>
        </thead>
        <tbody>
        @foreach(var team in ViewBag.T)
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.Location</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>10) All Teams Ordered Alphabetically by Location</h3>
    <table class="table table-striped">
        <thead>
            <th>Team Name</th>
            <th>Location</th>
        </thead>
        <tbody>
        @foreach(var team in ViewBag.AbyL)
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.Location</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>11) All Teams Ordered Team Name in Reverse Alphabetic Order</h3>
    <table class="table table-striped">
        <thead>
            <th>Team Name</th>
            <th>Location</th>
        </thead>
        <tbody>
        @foreach(var team in ViewBag.NameRev)
        {
            <tr>
                <td>@team.TeamName</td>
                <td>@team.Location</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>12) Every Player With the Last Name "Cooper"</h3>
    <table class="table table-striped">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
        </thead>
        <tbody>
        @foreach(var player in ViewBag.Cooper)
        {
            <tr>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>13) Every Player With the First Name "Joshua"</h3>
    <table class="table table-striped">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
        </thead>
        <tbody>
        @foreach(var player in ViewBag.Joshua)
        {
            <tr>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>14) Every Player With the Last Name "Cooper" Except those with "Joshua" as the First Name</h3>
    <table class="table table-striped">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
        </thead>
        <tbody>
        @foreach(var player in ViewBag.CooperNotJoshua)
        {
            <tr>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div>
    <h3>15) All Players with the First Name "Alexander" OR First Name "Wyatt"</h3>
    <table class="table table-striped">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
        </thead>
        <tbody>
        @foreach(var player in ViewBag.AlexanderWyatt)
        {
            <tr>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
            </tr>
        }
        </tbody>
    </table>
</div>